<footer class="footer" >
  <section class="footer__main-section">
    <div class="footer__main-section__container col-12 col-xl-6">
      <div class="footer__logo">
        <img src="assets/images/appImages/logobg.png" alt="" class="footer__logo-image" />
        <h1>
          <span>Night<span class="footer__accent-text">Owl</span>Reads</span>
        </h1>
      </div>
      <div class="footer__text">
        <h5>
          Join our vibrant community of passionate readers! <br />
          Connect with fellow book lovers, discover new titles, and share your
          reading journey
        </h5>
      </div>
      <button class="footer__button">SIGN UP</button>
    </div>
    <div class="footer__contact col-12 col-xl-6">
      <div class="footer__contact-info row">
        <div class="footer__contact-social col-12  col-md-6 col-xl-12 col-xxl-6">
          <span>CONTACT</span>
          <a>miguel.machuca.1994&#64;gmail.com</a>
        </div>
        <div class="footer__contact-social-container col-md-6 col-xl-12 col-xxl-6">
          <span>FOLLOW ME</span>
          <div class="footer__contact-social-media">
            <button class="footer__media-button"><img src="assets/images/appImages/GitHub.svg" alt=""></button>
            <button class="footer__media-button"><img src="assets/images/appImages/Instagram.svg" alt=""></button>
            <button class="footer__media-button"><img src="assets/images/appImages/Linkedin.svg" alt=""></button>
          </div>
        </div>
        <p class="footer__license">© 2024 — Copyright </p>
      </div>
    </div>
  </section>
</footer>
