<section class="user-details">
  <div class="main">
    <div class="title">
      <img
        src="assets/images/appImages/user-data.svg"
        alt="User Data icon"
        class="icon"
      />
      <span>Personal info</span>
    </div>
    <div class="details row">
      <div class="details-user-info col-6">
        <div class="detail-item" *ngIf="user.name || user.lastName">
          <mat-icon class="icon" fontSet="material-icons-outlined"
            >account_circle</mat-icon
          >
          {{ user.name }} {{ user.lastName }}
        </div>

        <div class="detail-item" *ngIf="user.alias">
          <mat-icon class="icon" fontSet="material-icons-outlined"
            >spatial_audio_off</mat-icon
          >
         {{ user.alias }}
        </div>

        <div class="detail-item" *ngIf="user.email">
          <mat-icon class="icon" fontSet="material-icons-outlined"
            >mail</mat-icon
          >
          {{ user.email }}
        </div>

        <div class="detail-item" *ngIf="user.country">
          <mat-icon class="icon">public</mat-icon> {{ user.country }}
        </div>
        <div class="detail-item" *ngIf="user.city">
          <mat-icon class="icon" fontSet="material-icons-outlined"
            >location_on</mat-icon
          >
          {{ user.city }}
        </div>
      </div>
      <div class="details-user-media col-6">
        <div class="detail-item" *ngFor="let item of user.socialMedia">
          <img
            src="assets/images/appImages/Icons/{{ item }}.svg"
            alt="Social Media icon"
            class="icon"
          />
          {{ item }}
        </div>
      </div>
    </div>
<div class="achievements">

  <div class="title">
    <mat-icon class="icon" fontSet="material-icons-outlined">emoji_events</mat-icon>
    <span>My achievements</span>
  </div>

  <mat-tab-group  class="achievements-container">
    <mat-tab *ngFor="let achievement of achievements">
      <ng-template mat-tab-label>
        <app-achievement-card [achievement]="achievement"></app-achievement-card>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
  </div>
  <div class="side">
    <div class="title">
      <mat-icon class="icon">people_outline</mat-icon> Friends
    </div>
    <div class="details"></div>
  </div>
</section>
