@import "../../../../../assets/styles/variables/variables";
@import "../../../../../assets/styles/variables/mixins";

.book-overview-tab {
  h2 {
    color:  $Secondary_theme;
    font-size: 1.5rem;
    margin: 0;
    font-weight: 500;
  }
  hr {
    margin: 0;
    margin-bottom: 1rem;
    border: 1px solid $Secondary_theme;
    opacity: 1;
  }

  .details-list {
    color: $Tertiary_white;
    display: grid;
    padding: 0 16px;
  grid-template-columns: max-content minmax(100px, 350px) max-content minmax(100px, 300px) max-content minmax(100px, 300px);
    gap: 0.5rem 1rem;

    .detail-item {

      max-width: 300px;
      display: contents;

      .label {
        text-align: left;
        font-size: 1rem;
        color: $Disabled;
        font-weight: 300;
      }

      .value {
        text-align: left;
        @include line-clamp(1);
        font-size: 1rem;
        font-weight: 400;
        margin-right: 1rem;
      }
    }
  }
}
