<div  class="small-tab-group">
<mat-tab-group [(selectedIndex)]="selectedIndex">
  <mat-tab label="Overview">
    <app-overview [book]="book"></app-overview>
  </mat-tab>
  <mat-tab label="More by author">
    <app-more-by-author [book]="book"></app-more-by-author>
  </mat-tab>
  <mat-tab label="Other editions">
    <app-other-editions [book]="book"></app-other-editions>
  </mat-tab>
  <mat-tab label="Similar books">
    <app-similar-books [book]="book"></app-similar-books>
  </mat-tab>
</mat-tab-group>

</div>
