@import "../variables/variables";

.sectionBgPpal {
  min-height: calc(100vh - 50px);
  width: 100%;
  background-image: url("/images/appImages/fondo2.jpg");
  position: fixed;
  bottom: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.userContentPpal {
  width: 100%;
  padding: calc(4vh + 50px) 4vw 15vh 4vw;
  color: rgb(0, 0, 0);
  display: grid;
  grid-template:
    "userCard progressCard progressCard progressCard"
    "userCard achievementCard achievementCard achievementCard"
    "searchCardUser achievementCard achievementCard achievementCard"
    "searchCardUser myBookshelfcard  myBookshelfcard myBookshelfcard"
    "none myBookshelfcard myBookshelfcard myBookshelfcard"
    "none myBookshelfcard myBookshelfcard myBookshelfcard";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.userCard,
.progressCard,
.myBookshelfcard,
.achievementCard,
.searchCardUser {
  width: 100%;
  background-color: transparent;
  backdrop-filter: blur(4px);
  border-radius: 8px;
  border: 1px solid $borderColor;
  padding: 2vh 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.userCard:hover,
.progressCard:hover,
.myBookshelfcard:hover,
.achievementCard:hover,
.searchCardUser:hover {
  box-shadow: $Shadow_dark;
  -webkit-box-shadow: $Shadow_dark;
  -moz-box-shadow: $Shadow_dark;
}

/* .userCard */
.userCard {
  grid-area: userCard;
  background-color: transparent;
  backdrop-filter: blur(4px);
  justify-content: space-between;
  gap: 16px;

  .userSettingIcon {
    display: none;
  }

  .headlineCont {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .cardTitle {
    text-transform: capitalize;
  }

  .profile_img {
    width: 70px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    border: 2px solid;
    outline: 1px solid;
    outline-offset: 2px;
  }

  .cardInfo {
    align-self: start;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    p {
      margin: 0;
    }
  }

  .cardNavigation {
    align-self: center;
  }
  button {
    display: inline-block;
    width: 100px;
    border-radius: 10px;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
  }
  button:hover {
    transition: 0s;
    box-shadow: $Shadow_dark;
    background-color: $Secondary_white;
  }

  button::before,
  button::after {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    transform: skew(15deg);
    transition: all 0.5s;
    overflow: hidden;
    z-index: -1;
  }

  button::before {
    left: -10px;
    background: #889473;
  }

  button::after {
    right: -10px;
    background: #b4c598;
  }

  button:hover::before,
  button:hover::after {
    width: 60%;
  }
}

/* .progressCard */
.progressCard {
  grid-area: progressCard;

  h3 {
    font-size: clamp(1.5rem, 3vh, 2rem);
  }

  .booksList {
    padding: 0px 1vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .listedBook {
      width: 100%;
      display: grid;
      grid-template: "title progressReadingContent pages";
      grid-template-columns: 2fr 3fr 1fr;
      align-items: center;
      grid-gap: 10px;

      p,
      h5 {
        margin: 0;
      }

      .title {
        grid-area: title;
      }

      .progressReadingContent {
        grid-area: progressReadingContent;
        .progressReadingBar {
          background-color: $Secondary_white;
          border: 0.5px solid $borderColor;
        }
        .progress-bar {
          background-color: #c1aba6;
          -webkit-animation: progress-bar 0.8s ease-out both;
          animation: progress-bar 0.8s ease-out both;
        }

        @keyframes progress-bar {
          0% {
            -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
            -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
          }
          100% {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
          }
        }
      }

      .pages {
        grid-area: pages;
      }
    }
  }
}

/* .myBookshelfcard */
.myBookshelfcard {
  background-color: #c1aba6;
  border: 1px solid $borderColor;
  border-radius: 8px;
  grid-area: myBookshelfcard;
  padding: 2vh 2vw;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  height: 140px!important;



  .titleBookshelf {
    margin-top: 2vh;
    height: 40px;

    h3,
    hr {
      margin: 0;
      font-size: clamp(1.5rem, 4vh, 3rem);
    }
    hr {
      margin-bottom: 8px;
    }
    h3 {
      display: flex;
      justify-content: space-between;
      align-items: end;

    }
    button {
      color: black;
      border: none;
      padding-bottom: 0;
    }
    button:hover {
      background-color: transparent;
      color: white;
    }
  }

  .triptych {
    height: 85%;
    display: grid;
    grid-template: "readBook readingBook toRead whislist";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
    grid-gap: 16px;
    justify-content: space-between;
    text-align: center;
    place-items: center;


    .readBook {
      grid-area: readBook;
    }

    .readingBook {
      grid-area: readingBook;
    }

    .toRead {
      grid-area: toRead;
    }

    .whislist {
      grid-area: whislist;
    }

    .readBook,
    .readingBook,
    .toRead,
    .whislist {
      width: 100%;
      max-width: 200px;
      aspect-ratio: 2/3;
      background-color: $Secondary_white;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid black;
      position: relative;
      overflow: hidden;
      height: 50px;
      transition: all 1s;



      h5 {
        height: 50px;
        color: black;
        padding: 8px 0;
        width: 100%;
        // position: absolute;
        // top: calc(50% - 0.75rem);
        font-size: 1.5rem;
        background-color: $Secondary_white;
        border-bottom: 1px solid black;

      }

      .coverCont {
        height: 100%;
        aspect-ratio: 2/3;
        overflow: hidden;
        // border-radius: 8px;

        img {
          width: 100%;
          height: 100%;
          object-position: center;
          object-fit: cover;
        }
      }
      .titleCont {
        width: 100%;
        padding: 8px 0px;
        background-color: $Secondary_white;
        text-align: center;
        display: grid;
        place-items: center;
        // position: absolute;
        // bottom: 0;
        border-radius: 0 0 8px 8px;

        h6 {
          height: 100%;
          margin-bottom: 0;
          font-size: 1rem;
          padding: 0 8px;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
    }

    .readBook:hover,
    .readingBook:hover,
    .toRead:hover,
    .whislist:hover {

      cursor: pointer;
      background-color: $Secondary_white;
      font-size: x-large;
      box-shadow: $Shadow_dark;
      -webkit-box-shadow: $Shadow_dark;
      -moz-box-shadow: $Shadow_dark;
      z-index: 2;
      height: 300px;



      h5 {
        z-index: 0;
      }

      img {
        transition: 0.5s;
        transform: scale(1.05);
      }
    }
  }
}

/* .searchCardUser */
.searchCardUser {
  grid-area: searchCardUser;
  background-color: $Secondary_white;

  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  input:focus {
    border-color: black;
    box-shadow: 0px 0px 3px black;
  }

  button {
    display: inline-block;
    width: 100px;
    border-radius: 10px;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  button::before,
  button::after {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    transform: skew(15deg);
    transition: all 0.5s;
    overflow: hidden;
    z-index: -1;
  }

  button::before {
    left: -6px;
    background: #889473;
  }

  button::after {
    right: -6px;
    background: #b4c598;
  }

  button:hover::before,
  button:hover::after {
    width: 60%;
  }

  button:hover span {
    color: #a3b18a;
    transition: 0.3s;
  }

  button span {
    color: #03045e;
    font-size: 18px;
    transition: all 0.3s ease-in;
  }
}

/* .achievementCard */
.achievementCard {
  grid-area: achievementCard;
  background-color: $Secondary_white;

  h3 {
    font-size: clamp(1.5rem, 3vh, 2rem);
  }

  .cardContent {
    display: grid;
    grid-template: "year bar percentage";
    grid-template-columns: 50px auto 50px;
    align-items: center;
    grid-column-gap: 5%;

    h6 {
      margin: 0;
    }

    .progressReadingBar {
      grid-area: bar;
      background-color: $Secondary_white;
    }
    .progress-bar {
      background-color: #c1aba6;
      -webkit-animation: progress-bar 0.8s ease-out both;
      animation: progress-bar 0.8s ease-out both;
    }

    @keyframes progress-bar {
      0% {
        -webkit-transform: scaleX(0.4);
        transform: scaleX(0.4);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
      }
      100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
      }
    }
    @keyframes scale-up-hor-left {
      0% {
        -webkit-transform: scaleX(0.4);
        transform: scaleX(0.4);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
      }
      100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
      }
    }
  }
}

/* Media Queries */
@media (max-width: 1200px) {
  .userContentPpal {
    grid-template:
      "userCard searchCardUser "
      "userCard progressCard "
      "achievementCard progressCard  "
      "none progressCard  "
      "myBookshelfcard myBookshelfcard"
      "myBookshelfcard myBookshelfcard";

    grid-template-columns: 40% 60%;
    grid-template-rows: auto auto auto auto auto;

    .myBookshelfcard {
      height: fit-content;
    }

    .progressCard {
      .booksList {
        .listedBook {
          grid-template:
            "title title"
            "progressReadingContent pages";
          grid-template-columns: 80% 20%;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .sectionBgPpal {
    background-position: left;
  }
}

@media (max-width: 768px) {
  .userContentPpal {
    grid-template:
      "searchCardUser"
      "userCard"
      "achievementCard"
      "progressCard"
      "myBookshelfcard";
    grid-template-rows: auto auto auto auto auto;

    .userCard {
      gap: 0;
      position: relative;
      p {
        display: none;
      }
      button {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 15px;
        border: none;

        width: fit-content;

        .textButton {
          display: none;
        }

        .userSettingIcon {
          display: flex;

          scale: 1.5;
        }
      }
      button:hover {
        background-color: $Secondary_white;
      }
    }

    .progressCard {
      .booksList {
        .listedBook {
          grid-template:
            "title title"
            "progressReadingContent pages";
          grid-template-columns: 65% 30%;
        }
      }
    }

    .myBookshelfcard {
      .triptych {
        grid-template:
          "readBook readingBook"
          "toRead whislist";
        grid-template-columns: 40vw 40vw;
        place-items: center;
        text-align: center;
        grid-row-gap: 8px;

        .readBook,
        .readingBook,
        .toRead,
        .whislist {
          width: 100%;
          aspect-ratio: 0;
          display: grid;
          grid-template: "coverImage catergory";
          grid-template-columns: 35% 65%;
          align-items: center;

          h5 {
            grid-area: catergory;
            width: 100%;
          }

          .titleCont {
            display: none;
          }

          .coverCont {
            grid-area: coverImage;
            width: 100%;
            height: 100%;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}
