@import "../../../assets/styles/variables/variables";

.rating {
  display: flex;
  align-items: center;

  .star-icon {
    font-size: 24px;
    color: $Primary_theme;

  }

  .star_half {
    background: linear-gradient(90deg, $Primary_theme 50%, $Secondary_bg_grey 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }

  // .star_outline{
  //   color: $Secondary_bg_grey;
  //   font-size: 25px;
  //   margin-right: -1px;
  // }



  .total-ratings {
    font-size: 0.8rem;
    margin-left: 4px;
    color: $Hint_text; // Adjust color as needed
  }
}
