@import "../../../assets/styles/variables/variables";

.rating {
  display: flex;
  align-items: center;

  .star-icon {
    font-size: 24px;
    color: $Primary_theme;

  }

  

  



  .total-ratings {
    font-size: 0.8rem;
    margin-left: 4px;
    color: $Hint_text; // Adjust color as needed
  }
}
