@import "../../../assets/styles/variables/variables";

.rating {
  display: flex;
  align-items: center;

  .star-icon {
    color: $Primary_theme;
    height: fit-content;
    width: fit-content;
  }
  .total-ratings {
    font-size: smaller;
    color: $Hint_text;
    margin-left: 0.5rem;
  }
}
