@import "../../../assets/styles/variables/variables";
@import "../../../assets/styles/variables/mixins";




.loginForm {
  @include flex-column-center;
  width: 100%;
  height: 100%;

  .input-labelled {
    @include form-labelled;
    margin-bottom: 12px;
  }

  .input-labelled--password {
    @include form-labelled-password;
    margin-bottom: 12px;
  }

  .login-btn {
    @include btn;
    background-color: $Secondary_theme;
    border-color: $Secondary_theme;
    color: $Primary_bg_grey;
  }

  p {
    font-size: 14px;

    span {
      color: $Primary_theme;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        color: $Secondary_theme;
      }
    }
  }
}
