<form class="loginForm" [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="input-labelled">
    <label for="email">Email</label>
    <input
      type="text"
      formControlName="email"
      id="email"
      placeholder="Enter your email address"
      autocomplete="new-email"
    />
  </div>
  <div class="input-labelled--password">
    <label for="password">Password</label>
    <div class="password-input-container">
      <input
        type="password"
        formControlName="password"
        id="password"
        placeholder="Enter your password"
        autocomplete="new-password"
      />
      <mat-icon class="icon">visibility</mat-icon>
    </div>
  </div>
  <button class="login-btn" type="submit">
    Log in
  </button>
</form>
