@import "../../../../../assets/styles/variables/variables";

.book-author-tab{
  h2 {
    color: $White;
    font-size: 1.5rem;
    margin: 0;
    font-weight: 500;
    .accent{
      color: $Secondary_theme;
    }
  }
  hr {
    margin: 0;
    margin-bottom: 1rem;
    border: 1px solid $Secondary_theme;
    opacity: 1;
  }

}