@import "../../../assets/styles/variables/variables";
@import "../../../assets/styles/variables/mixins";
@import "../../../assets/styles/variables/typography";

.navigationBar {
  background: $Primary_bg_grey;
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 1;
  color: $White;
  h1 {
    font-size: 32px;
    .accentText {
      color: $Primary_theme;
      font-weight: bolder;
    }
  }
  .logo {
    height: 55px;
    margin-right: 16px;
    mix-blend-mode: hard-light;
  }

  .navActions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .navLinks {
      display: flex;
      gap: 12px;
      margin-left: 48px;
      .navLink {
        color: inherit;
        background-color: transparent;
        border: none;
        font-size: 20px;
      }
      .navLink:hover {
        color: $Secondary_theme;
      }
    }
    .signActions {
      @include flex-center;
      gap: 12px;

      .btn {
        @include btn;
      }

      .btn-flat {
        @include btn-flat;
      }
    }

    .dropdown {
      .dropdown-button {
        background-color: transparent;
        border: none;
        color: $White;
        font-size: 20px;
        @include flex-center;
        cursor: pointer;
      }
    }
  }
}

::ng-deep .mat-mdc-menu-panel {
  --mat-menu-container-color: #2b3035;
  .mat-mdc-menu-content {
    padding: 4px 0;
  }
  .mat-mdc-menu-item {
    min-height: 36px;

    &:hover {
      background-color: $Tertiary_bg_transparent-grey;
    }
  }
}
