<div class="book-card" *ngIf="book">
  <div class="cover">
    <img [src]="book.coverURL" alt="book cover" />
  </div>
  <div class="content">
    <span class="title">{{ book.title }}</span>
    <span class="author">{{ book.authors }}</span>
    <span class="categories">
      <span
      *ngIf="book.categories && book.categories.length > 0"
      class="hashtag"
      >#</span
      >{{ book.getcategories() }}
    </span>
    <span class="publish-date">{{book.publisher}} - {{ book.getpublishedDate()}} </span>
    <app-rating
      [rating]="book.rating!"
      [totalRatings]="book.totalRatings!"
    ></app-rating>

  </div>
</div>
