@import "../../../assets/styles/variables/variables";
@import "../../../assets/styles/variables/mixins";


.book-card {
  @include flex;
  height: 180px;
  gap: 8px;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 1px #2b303550;
  position: relative;
  .cover {
    height: 100%;
    img {
      height: 100%;
      aspect-ratio: 2/3;
      border-radius: 2px;
      object-fit: cover;
    }
  }
  .icon-button {
    font-size: 20px;
    padding: 8px;
    position: absolute;
    right: 0;
    top: 0;
    color: $Secondary_theme;

    &:hover {
      color: $Primary_theme;
    }


  }
  .content {
    @include flex-column;
    gap: 8px;
    padding: 4px 8px;
    .title {
      width: calc(100% - 24px);
      font-size: 1.2rem;
      font-weight: 500;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      line-clamp: 2;
      color: $White;
      margin-bottom: 4px;
    }
    .author {
      margin: 0;
      margin-bottom: -4px;
      font-size: 1rem;
      color: $Disabled;
      overflow: hidden;
      text-overflow: ellipsis;
      line-clamp: 1;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    app-rating {
      margin-top: auto;
    }

    .categories,
    .publish {
      margin: 0;
      font-size: 0.7rem;
      color: $Disabled;
      text-overflow: ellipsis;
      line-clamp: 1;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
    .categories {
      font-size: 0.8rem;
      font-style: italic;
      .hashtag {
        font-style: normal;
      }
    }
  }
}
::ng-deep .mat-mdc-menu-panel {
  --mat-menu-container-color: #42484F;
  .mat-mdc-menu-content {
    padding: 4px 0;
  }
  .mat-mdc-menu-item{
    min-height: 30px;

    &:hover {
      background-color: $Tertiary_bg_transparent-grey;
    }
  }
}
