<div class="book-card" *ngIf="book">
  <div class="cover">
    <img [src]="book.coverURL" alt="book cover" />
  </div>
  <div class="content">
    <h3 class="title">{{ book.title }}</h3>
    <p class="author">{{ book.authors }} - {{ book.getpublishedDate()}} </p>
    <p class="categories">
      <span
        *ngIf="book.categories && book.categories.length > 0"
        class="hashtag"
        >#</span
      >{{ book.getcategories() }}
    </p>
    <app-rating
      [rating]="book.rating!"
      [totalRatings]="book.totalRatings!"
    ></app-rating>
    <div class="footer"></div>
  </div>
</div>
